body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.App {
  padding: 0;
  margin: 0;
  background-color: rgb(71, 71, 122);
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
