.nav {
  margin-top: 0;
  background-color: #b7b7b7;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.nav ul {
  padding: 0px 15px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav li .link {
  text-decoration: none;
  color: inherit;
}

